<article class="content forms-page">
    <div class="subtitle-block">
        <h3 class="subtitle"> Lista de Solicitud de Transfusión </h3>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Estado:</label>
                    <select name="selectSt" class="form-control" id="cmbEstado" style="text-align-last:center;" ng-model="busqueda.estado">
                        <option value="">Seleccionar un estado</option>
                        <option value="0">TODOS</option>
                        <option value="2">PENDIENTE DE VISO</option>
                        <option value="4">VISADO</option>
                        <option value="5">RECHAZADO</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Fecha Inicio:</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </span>
                        <input id="txtfini" type="text" class="form-control" placeholder="Ingresar Fecha" ng-model="busqueda.fechaInicio" data-date-picker>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Fecha Fin:</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </span>
                        <input id="txtffin" type="text" class="form-control" placeholder="Ingresar Fecha" ng-model="busqueda.fechaFin" data-date-picker>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 offset-md-4">
                <div class="form-group">
                    <label class="control-label">&nbsp; </label>
                    <button type="button" ng-click="buscar();" class="btn btn-primary btn-block "><i class="fa fa-search"></i>&nbsp;Buscar</button>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label">&nbsp;</label>
                    <button type="button" class="btn btn-warning btn-block" ng-click="limpiar();">Limpiar</button>
                </div>
            </div>
        </div>
    </div>
    <div>
        <table id="tbTransfusiones" class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>Nro. Solicitud</th>
                    <th>Nro. Orden</th>
                    <th>Estado</th>
                    <th>Paciente</th>
                    <th>Motivo</th>
                    <th>Fecha Envío</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in solicitudes">
                    <td>{{item.nroSolicitud}}</td>
                    <td>{{item.nroOrdenMedica}}</td>
                    <td>{{item.desEstado}}</td>
                    <td>{{item.paciente}}</td>
                    <td>{{item.motivoTransfusion}}</td>
                    <td>{{item.fechaRegistro}}</td>
                    <td ng-if="item.codEstado == 2">
                        <div class='btn-group btn-group-sm'><button type='button' class='btn btn-oval btn-success' ng-click='atender(item.codSolicitud)'> Atender</button></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</article>